.layout-header-inner {
  position: relative;
  top: 37px;
}

#header {
  background-color: #FFF;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.22);
  height: 93px;
}

.header-logo {
  display: block;
  width: 163px;
  height: 62px;
  position: absolute;
  top: 55px - 37px;
  left: 215px - 180px;
}

.nav {
  position: absolute;
  top: 78px - 37px;
  left: 960px - 180px;
  display: table;
  width: 426px;
  font-size: 0;
}

.nav-menu {
  display: table-cell;
  width: calc(100% / 5);
  font-family: OpenSans;
  color: #282528;
  font-size: 1.3rem;
  font-weight: 700;
  text-align: left;
}

.nav-menu a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
