.layout01 {
  width: 100%;
  height: auto;
  background-color: #f8e514;
}

.layout02 {
  width: 100%;
  height: auto;
  background-color: #FFF;
}

.layout03 {
  width: 100%;
  height: auto;
  background-color: rgba(83, 91, 100, 0.03);
}

.layout-inner {
  max-width: 1240px;
  margin: 0 auto;
}

.layout-header {
  height: 900px;
}