/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.0rem;
  line-height: 1;
}

.layout01 {
  width: 100%;
  height: auto;
  background-color: #f8e514;
}

.layout02 {
  width: 100%;
  height: auto;
  background-color: #FFF;
}

.layout03 {
  width: 100%;
  height: auto;
  background-color: rgba(83, 91, 100, 0.03);
}

.layout-inner {
  width: 1240px;
  margin: 0 auto;
}

.layout-header {
  height: 900px;
}

.layout-header-inner {
  position: relative;
  top: 37px;
}

#header {
  background-color: #FFF;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.22);
  height: 93px;
}

.header-logo {
  display: block;
  width: 163px;
  height: 62px;
  position: absolute;
  top: 18px;
  left: 35px;
}

.nav {
  position: absolute;
  top: 41px;
  left: 780px;
  width: 426px;
  font-size: 0;
}

.nav-menu {
  display: inline-block;
  width: calc(100% / 5);
  font-family: OpenSans;
  color: #282528;
  font-size: 1.3rem;
  font-weight: 700;
  text-align: left;
}

.nav-menu a {
  text-decoration: none;
}
.nav-menu a:hover {
  text-decoration: underline;
}

.font, .introducing-title, .introducing-supplement, .supplement-list {
  font-family: OpenSans;
  color: #282528;
  text-align: left;
}

.top {
  position: relative;
  top: 128px;
}

.introducing-text {
  position: absolute;
  top: 87px;
  left: 35px;
}

.introducing-title {
  font-size: 4.2rem;
  font-weight: 400;
}
.introducing-title span {
  font-weight: 700;
}

.introducing-supplement {
  padding-top: 13px;
  font-size: 2.2rem;
  font-weight: 600;
}

.supplement-detail {
  padding-top: 36px;
}

.supplement-list {
  padding-bottom: 22px;
  font-size: 1.6rem;
  font-weight: 400;
}
.supplement-list span {
  padding-right: 15px;
  font-size: 1.2rem;
}

.introducing-button {
  padding-top: 66px;
}

.button-list {
  display: inline-block;
}
.button-list a {
  display: block;
}
.button-list:first-child {
  padding-right: 17px;
}

.introducing-img {
  position: absolute;
  right: 0;
}
